@model List<Instructor>
@{
    ViewData["Title"] = "Index";
}


    <h1 >Instructors</h1>
    




<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
           

        </tr>
    </thead>

    
    <tbody>
        @foreach (Instructor item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td><a href="/instructor/Details/@item.ID">@item.Name</a></td>
                <td> <img src="/images/@item.Image" style="width: 50px"> </td>
                
               
            </tr>
        }
  
      
    </tbody>
</table>




